<div class="card">
  <!--USANDO INTERPOLAÇÃO DE STRINGS-->
  <!--OPTIONAL CHAIN, UMA VALIDAÇÃO QUE PODE OU NAO ENCONTRAR INFORMAÇÃO NAS PROPRIEDADES-->
  <div class="card__plan card__item">Plano <b>{{ plano.infos.tipo }}</b></div>
  <div class="card__price card__item">R${{ plano.infos.preco }},00/Mês</div>
  <app-card-button></app-card-button>
  <app-card-button-cancel></app-card-button-cancel>
  <br>
  <mat-slider min="1" max="5" step="0.5">
    <input matSliderThumb value="1.5">
  </mat-slider>
</div>
